/**
 * Editor
 */

@import '~sass-mq';

@import 'config/variables';
@import 'config/external';

@import 'common/utils';
@import 'common/fonts';
@import 'common/icons';
@import 'common/foundation';

// Disable frontend specific styles.
$is-frontend: false;

.editor-styles-wrapper > * {
  font-family: $font-default, Georgia, "Times", "Times New Roman", serif;

  // Style page title
  .editor-post-title__input {
    font-family: inherit;
  }

  // Disable links rendered in ACF blocks
  .acf-block-preview a[href]:not([href^="#"]) {
    pointer-events: none;
  }

  // Use the same width as the page does so that floated blocks appear the same
  .wp-block:not(.alignfull):not(.alignwide):not([data-align="full"]):not([data-align="wide"]) {
    max-width: $content-width-max;
  }

  @import 'common/global';
  @import 'common/typography';
  @import 'components';
  @import 'blocks';
}
