.site-navbar {
  // @todo grid system
  padding-left: 12px;
  padding-right: 12px;
  position: relative; // ie11
  z-index: 1; // ie11
  // @todo not working
  // stylelint-disable-next-line declaration-block-no-duplicate-properties
  position: sticky;
}
