.site {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  height: 100%;
}

.site__header {
  //
}

.site__content {
  max-width: $global-width;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include breakpoint-value($container-margins) {
    padding-left: $-bp-value;
    padding-right: $-bp-value;
  }
}

.site__footer {
  //
}
