.entry-content,
.wp-block-group__inner-container,
.wp-block-cover__inner-container,
.wp-block-media-text__content,
.wp-block-column {
  > [class^="wp-block-"] {
    @include -zf-breakpoint-value(auto, $block-margins) {
      $margin: $-zf-bp-value;

      margin-top: $margin;
      margin-bottom: $margin;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
