// // 1. Global
// // ---------

$is-frontend: true;

$block-paddings: (
  small: 48px,
  medium: 72px
);

$block-margins: (
  small: 48px,
  medium: 72px
);

$container-margins: (
  small: 20px,
  medium: 30px
);

$color-palette: (
  'primary': #0072c6,
  'secondary': #767676,
  'black': #000,
  'white': #fff,
  'c-kes-kes-light-20': #fff3d2,
  'c-kupari-kupari-light-20': #ccf7ed,
  'c-sumu-sumu-light-20': #ebf4fb,
  'c-suomenlinna-suomenlinna-light-20': #fdecf3,
  'c-engel-engel-light-20': #fffae3,
  'light-grey': #f6f6f8,
  'dark-grey': #1a1a1a,
  'c-suomenlinna-suomenlinna': #f5a3c7,
  'c-vaakuna-vaakuna': #0072c6,
  'c-kupari-kupari': #00d7a7,
  'c-kes-kes': #ffc61e,
);

$font-sizes: (
  small: rem-calc(14),
  normal: rem-calc(16),
  large: rem-calc(22),
);

$light-grey: map-get($color-palette, 'light-grey');
$medium-grey: map-get($color-palette, 'light-grey'); // not defined
$dark-grey: map-get($color-palette, 'dark-grey');
$black: map-get($color-palette, 'black');
$white: map-get($color-palette, 'white');
$font-family: "HelsinkiGrotesk", Georgia, "Times", "Times New Roman", serif;
$primary-color: map-get($color-palette, 'primary');
$global-font-size: 18px;
$global-width: 1440px;
$global-margin: 1rem;
$content-width-max: 674px;
$small-font-size: 80%;

$mq-breakpoints: (
  small: 320px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
