.entry-content {
  font-size: $fontsize-body-medium;

  > * {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;

    @include ie11 {
      max-width: $content-width-max;
    }
  }

  .alignwide {
    max-width: var(--alignwide-width);

    @include ie11 {
      max-width: 90%;
    }

    margin-left: auto;
    margin-right: auto;
  }

  > .alignfull {
    max-width: none;
  }

  > :last-child:not(.alignfull) {
    margin-bottom: $spacing-m;
  }

  > h1:first-child {
    margin-top: $spacing-m;
  }
}

.entry-header {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--contentwide-width);
  margin-top: $spacing-m;
  margin-bottom: $spacing-m;

  .post.type-post & {
    max-width: var(--content-width);
  }
}

.entry-title {
  margin-bottom: $spacing-l;
}

.entry-title a {
  text-decoration: none;
  color: inherit;
}

.entry-meta {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: $spacing-5-xl;

  .byline {
    margin-left: $spacing-m;
  }
}
