.site-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // @todo grid system
  padding: 15px 12px 10px 12px;
  width: 100%;
  max-width: calc(#{$global-width} + 24px);
  margin-left: auto;
  margin-right: auto;

  &__logo {
    margin-right: $spacing-m;
    // Offset so the text within the logo is vertically centered
    margin-bottom: -5px;

    @include mq($from: large) {
      svg {
        width: 102px;
        height: 47px;
      }
    }
  }

  &__name {
    // push remaining columns to the right
    flex: 1 0 auto;
  }

  &__search {
    display: none;

    @include mq($from: large) {
      display: block;
    }
  }

  &__hamburger-button {
    display: block;
    margin-left: $spacing-m;

    @include mq($from: large) {
      display: none;
    }
  }

  &__languages {
    display: none;

    @include mq($from: large) {
      display: block;
    }
  }

  // When navigation is activated on mobile
  .is-active & {
    .site-header__search {
      display: block;
      padding: $spacing-m $spacing-s $spacing-s $spacing-s;
      margin-top: $spacing-s;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        display: block;
        // @todo grid system
        width: calc(100% + #{$spacing-m});
        left: -$spacing-m/2;
        top: 0;
        border-top: solid 1px $color-black-10;
      }

      // Move last and take up whole row
      order: 5;
      flex-basis: 100%;
    }
  }
}
