h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-default, Georgia, "Times", "Times New Roman", serif;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

h1 {
  font-size: 40px;
  line-height: 1.25;

  @include mq($from: medium) {
    font-size: 52px;
    line-height: 1.19;
  }
}

h2 {
  font-size: 36px;
  line-height: 1.19;
}

h3 {
  font-size: 24px;
  line-height: 1.21;
}

h4 {
  font-size: 20px;
  line-height: 1.2;
}

h5 {
  font-size: 18px;
  line-height: 1.2;
}

blockquote {
  font-size: 22px;
  line-height: 1.55;
  font-style: italic;
}

p {
  margin-block-start: 0;
  margin-block-end: $spacing-m;
}

a {
  color: $color-coat-of-arms-blue;
  // @todo what's the hover state?
}
