// Note that "Banner block" is currently just custom classes applied to a
// Columns block, rather than a standalone block. Since it's a hacky solution,
// there are a lot of `!important` definitions.
.banner-block {
  // On mobile, apply padding all around
  padding: 48px 16px;

  // Remove margins between columns. We make our own margins.
  .wp-block-column {
    margin-left: 0 !important;
  }

  // When switching to column layout, omit left padding since the icon column
  // includes it.
  @include mq($from: large) {
    padding: 68px 56px 68px 0 !important;
  }

  .wp-block-columns {
    @include mq($from: large) {
      flex-wrap: nowrap !important;
    }
    @include mq($until: large) {
      flex-wrap: wrap !important;
      text-align: center;

      .wp-block-column {
        flex-basis: 100% !important;
        margin-bottom: 16px !important;

        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
  }

  // The icon on the left.
  .wp-block-column:nth-child(1) {
    @include mq($until: large) {
      flex-grow: 1;
    }
    @include mq($from: large) {
      flex-basis: 198px !important;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .wp-block-image {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    figure {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    img {
      width: 80px;
      height: 80px;

      @include mq($from: large) {
        width: 88px;
        height: 88px;
      }
    }
  }

  // The content in the middle.
  .wp-block-column:nth-child(2) {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

    h2 {
      margin-bottom: 16px;
    }
  }

  // The button on the right.
  .wp-block-column:nth-child(3) {
    @include mq($until: large) {
      flex-grow: 1;
    }
    @include mq($from: large) {
      flex-basis: 198px !important;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}
