/**
 * Button
 */

.wp-block-button {
  color: $white;
  border-radius: 0;
  background-color: $primary-color;

  &:hover,
  &:focus {
    background-color: darken($primary-color, 10%);
  }

  &.is-style-outline {
    color: $primary-color;
    background-color: transparent;

    &:hover,
    &:focus {
      color: darken($primary-color, 10%);
      background-color: transparent;
      text-decoration: underline;
    }
  }

  &__link {
    border-radius: 0;
    font-size: 16px;
    padding: 14px 32px;
  }
}
